<nav class="transparent  hoverable">
   <div class="nav-wrapper">
      <a href="/" class="brand-logo">Eat Da Burger</a>
      <ul id="nav-mobile" class="hide-on-med-and-down">
        <li><a href="sass.html">API</a></li>
        <li><a href="badges.html">See Project on Github</a></li>
      </ul>
   </div>
</nav>